*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  text-size-adjust: 100%;
}

body,
h1,
h2,
p {
  margin: 0;
}

body {
  min-block-size: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img,
svg {
  display: block;
  max-inline-size: 100%;
}

:target {
  scroll-margin-block: 1rem;
}
